#{extends 'main.html' /}
#{set title:'create.html' /}



<div class="container">

	  <div class="row">
	  
	            <div class="box">
	            
					<div class="col-lg-12">
						
						<h2 class="text-center">Nueva Evaluación</h2>
					
					</div>
					<br> <br> <br> <br>
					<div class="col-lg-12">
						
						 #{form @Evaluaciones.postCreate(nombreSitio)}
						 
						 
						 
						 	<legend  class="text-center" >Nombre del Sitio: 
						 	
						 	<input type="text" name="nombreSitio" placeholder="Ingrese el nombre" required>
						 	</legend>
						 	<center>
							 	<button type="submit" class=' btn btn-success'>
							 	<img src="@{'/public/images/guardar.png'}" height="22px" width="22px"> &nbsp; 
							 	<b style="color:black">Guardar</b>
							 	
							 	</button>
							 	&nbsp; &nbsp;
							 	
							 	 <a class='btn btn-warning' href="/evaluaciones" >
							 	 	<img src="@{'/public/images/cancelar.png'}">&nbsp; 
							 	 <b style="color:black"> Cancelar</b>
							 	   </a>
						 	 </center>
						 	
						 
						 
						 #{/form}
						
					
					</div>
					
					

					
				</div>
		</div>
		
		
	</div>
	

