
#{extends 'main.html' /}
#{set title:'Formulario del Análisis'/}

<div class="container">

<div class="row">
	<div class="box">

		<div class="col-lg-12">
			<center>
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</center>
		</div>
		
		
	
		
		
		<br>
		<br>
		
		<div id="capa">Al hacer click en el enlace de abajo... este div desaparecerá!</div>
		<a href="javascript:$('#capa').fadeOut('slow');">Ocultar el div</a>
		<a href="javascript:$('#capa').fadeIn('slow');">Mostrar de nuevo el div</a>
		
		
	</div>
</div>


<div class="row">
	<div class="box">
		
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				#{if parametros}
					#{list items:parametros, as:'parametro'}
						<div  class="matriz">
							
								<table class="table table-stripped table-hover table-border">
									<tr>
										<td colspan="2"><h3>${parametro.nombre}</h3></td>
									</tr>
									
									#{list items:items, as: 'item'}
										#{if parametro == item.parametro}
										<tr>
											<td>${item.pregunta} </td>
											<td>
												<select name="calificacion" id="calificacion">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											
											</td>
											
										</tr>
										#{/if}
									#{/list}
									
								</table>
						
							
							<br>
	
						</div>
					
					#{/list}
					
					
				#{/if}
			
			
			
			</div>
			
			<div class="col-lg-3"></div>
	
	
	
	</div>
	
</div>	
	
	
	







</div>








