
#{extends 'main.html' /}
#{set title:'Formulario del Análisis'/}

<script type="text/javascript">
	$(document).ready(function(){

		$('.otroParametro').click(function(){
			$('body').animate({
				scrollTop: '0px'
			},80);
		});
	
		 $(".matriz").hide(); 
		 $("#1").fadeIn("slow");
		 $("#1li").addClass("active");
		 $("#finalizar").hide();
		 
		 
		 
		 
		 $("select").change(function(){
		
			 var id=$(this).attr("id");
			 var cal=$(this).val();
			 //alert(id+"----"+cal);
			 var contenido=$("#res").val();
			 $("#res").val(contenido+cal+"-"+id+"/");
		 });
	});
	
	 function paginacion(id){
			$(".matriz").hide(); 
				$('#'+id).hide();
				$('#'+id).fadeIn(500);	
				$(".paginacion").removeClass("active");
				$('#'+id+"li").addClass("active");
				$(".otroParametro").fadeIn(500);
				$("#finalizar").hide();
				var max=parseInt($("#maximo").val())-1;
			if (id==max){
				$(".otroParametro").hide();
				$('#finalizar').fadeIn(500);
			}
		}

	 
	
</script>






<div class="container">



<div class="row">
	<div class="box">
		
		<div class="col-lg-12 text-center">
			<h1>Evaluando A ${evaluacion.dato.nombreSitio}</h1>
			<p class="text-justify">A continuación se muestra el listado de aspectos a evaluar,
			lea detenidamente cada pregunta y califique en base a las características que posee
			el sitio en estudio. El criterio de calificación de acuerdo al cumplimiento de las Heurísticas es el siguiente: <br>
			<b>(1)</b> Mínimo, <b>(2)</b> Bajo, <b>(3)</b> Medio, <b>(4)</b> Alto, <b>(5)</b> Máximo.</p>
			
		</div>
		
	</div>

</div>

<div class="row">
	<div class="box">

		<div class="col-lg-12">
			
			<center>
				<h6>Seleccione el Número del Heurístico a Evaluar</h6>
				<ul class="pagination">
				  	#{if parametros}
						%{int contador=1;}%
							#{list items:parametros, as:'parametro'}	
									
							  <li id="${contador}li" class="paginacion"><a onclick="paginacion(${contador});">${contador}</a></li>
							 %{contador+=1;}%		
							#{/list}
							<input type="hidden" id="maximo" value="${contador}">	
					#{/if}

				</ul>
			</center>
		</div>

			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				#{if parametros}
				%{int contador=1;}%
								
				#{form @Evaluaciones.calificar(res,id)}
				<input type="hidden" name="res" id="res">
					#{list items:parametros, as:'parametro'}
					
						<div  class="matriz" id="${contador}">
							
							<input type="hidden" name="id" value="${evaluacion.id}">
							
							
							
								<table class="table table-stripped table-hover table-border">
									<tr>
										<td colspan="2" class="text-center"><h3>${contador}. ${parametro.nombre}</h3></td>
									</tr>
									<tr>
										<td colspan="2" class="text-center"> <H5>${parametro.informacion}</H5></td>
									</tr>
									%{int num=1;}%
									#{list items:items, as: 'item'}
									
									
										#{if parametro == item.parametro}
										<tr>
											<td>${num}.- ${item.pregunta} </td>
											%{num++;}%
										</tr>
										
										<tr>
											<td>
												<select id="${item.id}" required class="form-control">
													<option value="">Seleccione la Calificación</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
												<br>
											</td>
										
										</tr>
										
										
										#{/if}
									#{/list}
									
									<tr>
										<td>
											<a href="#top" class="btn btn-primary form-control otroParametro"><b>Seleccionar Otro Parámetro</b></a>
										</td>
									</tr>
									
								</table>
	
						</div>
						%{contador+=1;}%
					#{/list}
					
					<button class="btn btn-success form-control" type="submit" id="finalizar"><b>Finalizar</b></button>
				#{/form}
				#{/if}
			</div>

			<div class="col-lg-3"></div>



	
	</div>
	
</div>	
	
	
	






</div>








