#{extends 'main.html' /}
#{set title:'Usuario' /}

<!DOCTYPE html>
<html lang="en">

	<head>
	
	<script type="text/javascript">
		
		$(document).ready(function(){
			$('#btn-signup').attr("disabled", "disabled");
			var errorAction = #{jsAction @Security.error1(':mail')/}
			
			$('#email').keyup(function(){
				var e=$('#email').val();
					if (e != ""){
					$('#errorEmail').load(
							errorAction({mail: e})
							
					);
					}
				
				
				
			});
			
			
			$('#email').blur(function(){
				var e=$('#email').val();
					if (e != ""){
					$('#errorEmail').load(
							errorAction({mail: e})		
					);
					}else{
						$('#errorEmail').html("");
					}
					
	
				
				
			});
			
			
			
		});
		
		
		
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	</script>
	
	</head>
	<body>
	
	
	<div class="container">
			
			<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		            <div class="panel panel-info" >
		                    <div class="panel-heading">
		                        <div class="panel-title">Inicio de Sesión</div>
		                        
		                        <!-- OLVIDADO CONTRASENA
		                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">¿Ha olvidado su contraseña?</a></div>
		                         -->
		                    </div>     
		
		                    <div style="padding-top:30px" class="panel-body" >
		
		                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
		                            
		                            
		                      #{form @Securing.authenticate(username,password)}
		                                    
		                            <div style="margin-bottom: 25px" class="input-group">
		                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		                                        <input id="login-username" type="text" class="form-control" name="username" placeholder="ingrese su e-mail" required>                                        
		                                    </div>
		                                
		                            <div style="margin-bottom: 25px" class="input-group">
		                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="ingrese su contraseña" required>
		                                    </div>
		                                    
		
		                                
		                            <div class="input-group">
		                                      <div class="checkbox">
		                                        <label>
		                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Recordar cuenta
		                                        </label>
		                                      </div>
		                                    </div>
		
		
		                                <div style="margin-top:10px" class="form-group">
		                                    <!-- Button -->
		
		                                    <div class="col-sm-12 controls">
		                                      <input id="btn-login" type="submit" class="btn btn-success" value="Ingresar"/>	
		                                    </div>
		                                </div>
		                                <br><br>
		
		
		                                <div class="form-group">
		                                    <div class="col-md-12 control">
		                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
		                                           <h6> Aún no tiene una cuenta!</h6> 
		                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
		                                           <h3> Registrese ahora</h3>
		                                        </a>
		                                        </div>
		                                    </div>
		                                </div>    
		                            #{/form}    
		
		
		
		                        </div>                     
		                    </div>  
		        </div>
		        
		        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		                    <div class="panel panel-info">
		                        <div class="panel-heading">
		                            <div class="panel-title">Registro de Usuario</div>
		                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Inicio de Sesión</a></div>
		                        </div>  
		                        <div class="panel-body" >
		                        
		                        #{form @Security.guardarUsuario(email,nombre,apellido,password), id:'signupfor',class:'form-horizontal'}
		                        			                                  
		                                <div class="form-group">
		                                
		                                	<span id="errorEmail">
		                                    	
		                                    </span>	
		                                    <br>
		                                	 <label for="email" class="col-md-3 control-label">Email:</label>
		                                   
		                                	 
		                                   
		                                    <div class="col-md-9">
		                                        <input type="email" id="email" class="form-control" name="email" placeholder="Ingrese su email" required>
		                                    </div>
		                                    
		                                    
		                                </div>
		                                    
		                                <div class="form-group">
		                                    <label for="firstname" class="col-md-3 control-label">Nombre:</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" required>
		                                    </div>
		                                </div>
		                                <div class="form-group">
		                                    <label for="lastname" class="col-md-3 control-label">Apellido:</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="apellido" placeholder="Ingrese su apellido" required>
		                                    </div>
		                                </div>
		                                <div class="form-group">
		                                    <label for="password" class="col-md-3 control-label">Contraseña:</label>
		                                    <div class="col-md-9">
		                                        <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
		                                    </div>
		                                </div>
		
		                                <div class="form-group">
		                                    <!-- Button -->                                        
		                                    <div class="col-md-offset-3 col-md-9">
		                                        <button id="btn-signup" type="submit" class="btn btn-primary" >Registrar</button>
		                                    </div>
		                                </div>
		                           #{/form}
		                         </div>
		                    </div>
		
		               
		               
		                
		         </div> 
		    </div>
    <br><br>
    
 


	

	<script>
	function confirmar(){
		$('#registro').modal({
			  show: true 
			})
	}
	</script>
	  
	  
	  
	</body>

</html>

