#{extends 'main.html' /}
#{set title:'Datos del Análisis'/}



				
					<script>
					/*$(document).ready(function(){
						$('#datos').modal({
							  show: true 
							})
						
						
						});
					*/
					
					function mostrarDatos(){
						
						$('#datos').modal({
							  show: true 
							})
					}
					
					
					function mostrarObjetivos(){
						
						$('#objetivos').modal({
							  show: true 
							})
					}
					
					
					function mostrarTareas(){
						
						$('#tareas').modal({
							  show: true 
							})
					}
					
					
					
					function mostrarPantallas(){
						
						$('#pantallas').modal({
							  show: true 
							})
					}
					

				
					</script>
					
					

<!-- VENTANA MODAL DE REGISTRO DE TAREAS -->
				       <div id="tareas" class="modal fade">
					   <div class="modal-dialog">   
					      <div class="modal-content"> 
					         <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					            ×
					            </button>
					            <h3>Tareas del Análisis</h3>
					         </div>

					         <div class="modal-body">
						         <center>
						            <table class="table table-striped  table-bordered" >
						            
						            	<tr>
						            		<td>
						            			<b>Descripción:</b>
						            		</td>
						            		
						            		<td>
						            			<textarea rows="4" cols="40" ></textarea>
						            		
						            		</td>						      						            		
						            	</tr>						            
						            </table>
						           </center>        
					         </div>
					         <div class="modal-footer">
					            <a href="#" class="btn btn-danger" data-dismiss="modal" >Agregar</a>
					         </div>
					   	</div>
					   </div>
					</div>
					
					
	
	


<!-- VENTANA MODAL DE REGISTRO DE PANTALLAS -->
				       <div id="pantallas" class="modal fade">
					   <div class="modal-dialog">   
					      <div class="modal-content"> 
					         <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					            ×
					            </button>
					            <h3>Pantallas del Análisis</h3>
					         </div>

					         <div class="modal-body">
						         <center>
						            <table class="table table-striped  table-bordered" >
						            
						            	<tr>
						            		<td>
						            			<b>Descripción:</b>
						            		</td>
						            		
						            		<td>
						            			<textarea rows="4" cols="40" ></textarea>
						            		
						            		</td>						      						            		
						            	</tr>						            
						            </table>
						           </center>        
					         </div>
					         <div class="modal-footer">
					            <a href="#" class="btn btn-warning" data-dismiss="modal" >Agregar</a>
					         </div>
					   	</div>
					   </div>
					</div>
					


<!-- VENTANA MODAL DE REGISTRO DE OBJETIVOS -->
				       <div id="objetivos" class="modal fade">
					   <div class="modal-dialog">   
					      <div class="modal-content"> 
					         <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					            ×
					            </button>
					            <h3>Objetivos del Análisis</h3>
					         </div>

					         <div class="modal-body">
						         <center>
						            <table class="table table-striped  table-bordered" >
						            
						            	<tr>
						            		<td>
						            			<b>Descripción:</b>
						            		</td>
						            		
						            		<td>
						            			<textarea rows="4" cols="40" ></textarea>
						            		
						            		</td>						      						            		
						            	</tr>						            
						            </table>
						           </center>        
					         </div>
					         <div class="modal-footer">
					            <a href="#" class="btn btn-success" data-dismiss="modal" >Agregar</a>
					         </div>
					   	</div>
					   </div>
					</div>
					


















 <!-- VENTANA MODAL DE  REGISTRO DE DATOS-->
 				
 			
 				
 			 #{form @Datos.guardarDatos(fecha,plataforma,url,nombreSitio)}
				       <div id="datos" class="modal fade">
					   <div class="modal-dialog">   
					      <div class="modal-content"> 
					         <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					            ×
					            </button>
					            <h3>Datos del Análisis</h3>
					         </div>
					         
					        
					         
					         <div class="modal-body">
						         <center>
						 
						        
						            <table class="table table-striped  table-bordered" >
						            
						            	<tr>
						            		<td>
						            			<b>Fecha:</b>
						            		</td>
						            		
						            		<td>
						            			<input type="date" name="fecha">
						            		
						            		</td>						      						            		
						            	</tr>
						            	
						            	<tr>
						            		<td>
						            			<b>Plataforma:</b>
						            		</td>
						            		
						            		<td>
						            			<select name="plataforma">
						            				<option>Web</option>
						            				<option>Escritorio</option>
						            				<option>Móvil</option>		
						            			</select>
						            		
						            		</td>						      						            		
						            	</tr>
						            	
						            	<tr>
						            		<td>
						            			<b>Nombre del Sitio:</b>
						            		</td>
						            		
						            		<td>
						            			<input type="text" name="url" placeholder="Youtube, Gmail, SRI, etc">
						            		</td>
						            	</tr>
						            	
						            	
						            	
						            	
						              <tr>
						            		<td>
						            			<b>Url:</b>
						            		</td>
						            		
						            		<td>
						            			<input type="text" name="nombreSitio" placeholder="www.abc123.com">
						            		</td>
						            	</tr>
						            
						            
						            </table>
						            
						           
						            
						           </center>
					            
					            
					            
					                           
					         </div>
					         <div class="modal-footer">
					         
					         	<input type="submit" class="btn btn-primary" >
					            
					         </div>
					         
					   	</div>
					   </div>
					</div>
					
					
					 #{/form}
	
					
					
					





<div class="container">

  <div class="row">
  
            <div class="box">
            
            	
            
            	<div class="col-lg-1">
				
					&nbsp;
				
				</div>
				
				 <style>
		         	.colorFondo{
		         	background-color:#00adef;
		         	 filter: alpha(opacity=50);
		         	}
		         </style>
            
				<div class="col-lg-5">
					
				<h3 class="text-center">Datos del Análisis</h3>	
					 #{form @Datos.finalizar()}
					 <input type="submit" class="btn btn-primary" value="finalizar">
 			 
 			 		#{/form}
				 <table class="table table-striped  table-bordered table-hover">
						            
						            	<tr>
						            		<td class="colorFondo">
						            			<b>Fecha:</b>
						            		</td>
						            		
						            		<td>
						            			#{if d.fecha == null}
						            			<input type="hidden">dd/mm/aaaa</input>
						            			#{/if}
						            			#{else}
						            			<input type="hidden">${d.fecha}</input>
						            			#{/else}
						            			
						            		</td>						      						            		
						            	</tr>
						            	
						            	<tr>
						            		<td class="colorFondo">
						            			<b>Nombre del Sitio:</b>
						            		</td>
						            		
						            		<td>
						            			
						            			#{if d.nombreSitio == null}
						            			<input type="hidden">Youtube, SRI, UTC</input>
						            			#{/if}
						            			#{else}
						            			<input type="hidden">${d.nombreSitio}</input>
						            			#{/else}	
						            			
						            			
						            			
						            			
						            			
						            		</td>
						            	</tr>
						            	
						            	
						            	<tr>
						            		<td class="colorFondo">
						            			<b >Plataforma:</b>
						            		</td>
						            		
						            		<td>
						            			
						            			
						            			#{if d.plataforma == null}
						            			<input type="hidden">Web, Escritorio</input>
						            			#{/if}
						            			#{else}
						            			<input type="hidden">${d.plataforma}</input>
						            			#{/else}	
						            			
						            			
						            		</td>						      						            		
						            	</tr>
						            	
						              <tr>
						            		<td class="colorFondo">
						            			<b>Url:</b>
						            		</td>
						            		
						            		<td>

						            			
						            			#{if d.url == null}
						            			<input type="hidden">www.abc123.com</input>
						            			#{/if}
						            			#{else}
						            			<input type="hidden">${d.url}</input>
						            			#{/else}	
						            			
						            			
						            			
						            		</td>
						            	</tr>
						            
						            
						            </table>
						            
						            <input type="button" value="Editar" class="btn btn-primary pull-right" onclick="mostrarDatos()">
	
				   					<br>
				   
				
				
				</div>
				
				
				
				
				
				
				
				<div class="col-lg-5">
					
				<h3 class="text-center">Objetivos del Análisis</h3>	
				 <table class="table table-striped  table-bordered table-hover">
						            
						            	<tr>
						            		<td>
						            			<b>N°</b>
						            		</td>
						            		
						            		<td>
						            			<b>Descripción</b>
						            		
						            		</td>						      						            		
						            	</tr>
						            	
						            
						            
						            </table>
						            
						            <input type="button" value="Agregar" class="btn btn-success pull-right" onclick="mostrarObjetivos()">
	
				   					<br>
				   
				
				
				</div>
				
				
				<div class="col-lg-2">
				
					&nbsp;
				
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
			</div>
			
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	 <div class="row">
  
            <div class="box">
            
            	<div class="col-lg-1">
				
					&nbsp;
				
				</div>
				
				 <style>
		         	.colorFondo{
		         	background-color:#00adef;
		         	 filter: alpha(opacity=50);
		         	}
		         </style>
            
				<div class="col-lg-5">
					
				<h3 class="text-center">Tareas del Análisis</h3>	
				 <table class="table table-striped  table-bordered table-hover">
						            
						            	<tr>
						            		<td>
						            			<b>N°</b>
						            		</td>
						            		
						            		<td>
						            			<b>Descripción</b>
						            		
						            		</td>						      						            		
						            	</tr>
						            	
						            
						            </table>
						            
						            <input type="button" value="Agregar" class="btn btn-danger pull-right" onclick="mostrarTareas()">
	
				   					<br>
				   
				
				
				</div>
				
				
				
				
				
				
				
				<div class="col-lg-5">
					
				<h3 class="text-center">Pantallas del Análisis</h3>	
				 <table class="table table-striped  table-bordered table-hover">
						            
						            	<tr>
						            		<td>
						            			<b>N°</b>
						            		</td>
						            		
						            		<td>
						            			<b>Descripción</b>
						            		
						            		</td>						      						            		
						            	</tr>
						            	
						            
						            
						            </table>
						            
						            <input type="button" value="Agregar" class="btn btn-warning pull-right" onclick="mostrarPantallas()">
	
				   					<br>
				   
				
				
				</div>
				
				
				<div class="col-lg-2">
				
					&nbsp;
				
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
			</div>
			
	</div>
	
	
	
	
	
	
	
	
	
	
</div>
	


