#{extends 'main.html' /}
#{set title:'Datos del Análisis'/}

<script>

$(document).ready(function(){
	
	
	$("#btnTareas").click(function(){
		
		
		
	});
	
	$("#sltPlataforma").change(function(){
		var op=$("#sltPlataforma").val();
		if (op == 'Web'){
			$('#msj1').text('Dirección del sitio (url): ');
			$('#direccion').attr("placeholder", "Ejemplo: www.bbc.com").placeholder();
		}
		
		if (op == 'Móvil'){
			$('#msj1').text('Versión: ');
			$('#direccion').attr("placeholder", "Ejemplo: versión 1.0" ).placeholder();
		}
		
		if (op == 'Desktop'){
			$('#msj1').text('Versión: ');
			$('#direccion').attr("placeholder","Ejemplo: versión 1.0"  ).placeholder();
		}
	});
});

</script>


<style>

</style>

<div class="container"> 

<div class="col-md-3">
		</div>
	
			<div class="col-md-8">
  			#{form @Evaluaciones.formulario()}	

            
  	              
	              <div class="panel panel-info" style="background: rgba(255, 255, 255, .9);">
	  
					 
						<div class="panel-heading">
						<h3 class="text-center">Datos del Análisis</h3>	
						</div>
			
						
							<div class="panel-body" >
							
							
							  <div class="form-group">
                                
                             	 <label for="" class="col-md-5 control-label text-right">Plataforma: </label>
                                 <div class="col-md-5">
                                    	<select id="sltPlataforma" class="form-control selectpicker">
											<option>Web</option>
											<option>Móvil</option>
											<option>Desktop</option>
										</select>
		
                                 </div>		                                    
                             </div>
                             
                             <br>
                             <br>
                             
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Dirección del sitio (url): </label>
                                 <div class="col-md-5">
                                    	 <input  type="text" name="direccion" id="direccion" class="form-control" required placeholder="Ejemplo: www.bbc.com">
		
                                 </div>			
							
							</div>
							
							
								<br>
							    <br>
                             
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Objetivo del Análisis: </label>
                                 <div class="col-md-5">
                                    		<textarea rows="3" cols="43" required class="form-control"></textarea>
					
                                 </div>			
							
							</div>
								
							
                             
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1"><br>Tareas del Análisis: </label>
                                 <div class="col-md-5">
                                 			<br>
                                    		<textarea rows="3" cols="43" required class="form-control"></textarea>
					
                                 </div>			
							
							</div>
							
							
							
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">
							<br>Pantallas del Análisis: </label>
                                 <div class="col-md-5">
                               				 <br>
                                    		<textarea rows="3" cols="43" required class="form-control"></textarea>
										<br>
                                 </div>			
								
							</div>
							
							
							
						<center>
	                        <button type="submit" class=' btn btn-success'>
						 	<img src="@{'/public/images/guardar.png'}" height="22px" width="22px">&nbsp; 
						 	<b style="color:black">Guardar y Continuar</b>
						 	</button>
						 	<br><br>
						 	<a class='btn btn-warning' href="/evaluaciones" onclick="return confirm('¿Está seguro que desea cancelar la evaluación?');" >
						 	 	 <img src="@{'/public/images/cancelar.png'}">&nbsp; 
							 	 <b style="color:black"> Cancelar</b>
							</a>
						 
					 	   
						 </center>
					
						 	
						 </div>	<!--panel body  -->
					 
					 </div><!--panel info  -->
					 	
					
						
			
				
				#{/form}
		</div><!--  col md 5-->
					

				
</div> <!-- container -->
	
					
	
	

	


