

	<link href="@{'/public/themes/1/js-image-slider.css'}" rel="stylesheet" type="text/css" />
   <link href="@{'/public/generic.css'}" rel="stylesheet" type="text/css" />
    <script src="@{'/public/themes/1/js-image-slider.js'}" type="text/javascript"></script>

  <div id="sliderFrame">
        <div id="slider">
            
            <img class="img-responsive img-full"  src="@{'/public/images/b3.png'}" alt="Welcome to Menucool.com" />
            <img class="img-responsive img-full"  src="@{'/public/images/b2.png'}"  alt="" />
            <img class="img-responsive img-full"  src="@{'/public/images/b1.png'}" alt="JJA" />
 
        </div>
    </div>